<div class="form-horizontal">
  <fieldset>
    <legend>Requirements</legend>
    <div class="form-group">
      <label for="cities" class="col-lg-2 control-label">City</label>
      <div class="col-lg-10">
        <select class="form-control" id="City" ng-model="jobObject.city">
          <option>Banglore</option>
          <option>Chennai</option>
          <option>Delhi</option>
          <option>Kolkata</option>
          <option>Mumbai</option>
        </select>
        </div>
		</div>
		<br/>
		
		<div class="form-group">
      <label for="services" class="col-lg-2 control-label">Service</label>
      <div class="col-lg-10">
        <select class="form-control" id="Service" ng-model="jobObject.service">
          <option>Carpenter</option>
          <option>Cook</option>
          <option>Driver</option>
		  <option>Electrician</option>
		  <option>Home tutor</option>
		  <option>Interior designer</option>
		  <option>Mechanic</option>
		  <option>Painter</option>
		  <option>Plumber</option>
		</select>
      </div>
    </div>
	</div>
	<br/>
	
	<div class="form-group">
      <label for="description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input type="text" class="form-control"  id="textArea" ng-model="jobObject.description"></inputext>
        <span class="help-block">Max length: 100 words .</span>
      </div>
    </div>
	<br/>
	
	 <div class="form-group">
      <label for="persons" class="col-lg-2 control-label">Person</label>
      <div class="col-lg-10">
		<input type="number" min="1" ng-model="jobObject.person"></input>
	  </div>
	</div>  
	<br/>
	
    <div class="form-group">
      <label for="duration" class="col-lg-2 control-label">Duration(in days)</label>
      <div class="col-lg-10">
		<input type="number" min="1" ng-model="jobObject.duration"></input>

	  </div>
	</div>  
	<br/>
   
	 <div class="form-group">
      <label for="min_price" class="col-lg-2 control-label">Minimum Price</label>
      <div class="col-lg-10">
		<input type="number" min="100" ng-model="jobObject.price_min"/>
	  </div>
	</div>  
	<br/>
	
	 <div class="form-group">
      <label for="max_price" class="col-lg-2 control-label">Maximum Price</label>
      <div class="col-lg-10">
		<input type="number" min="100" ng-model="jobObject.price_max"/>
	  </div>
	</div>  
	<br/>
	
     <div class="form-group">
      <label for="Locality" class="col-lg-2 control-label">Locality</label>
      <div class="col-lg-10">
      <input type="text" ng-model="jobObject.locality"/>
	  </div>
	</div>	
	<br/>
	
	<div class="form-group">
      <label for="Begin" class="col-lg-2 control-label">Begin</label>
      <div class="col-lg-10">
		<input type="date" min="01-01-2016" ng-model="jobObject.begin"/>
	  </div>
	</div>	  
	<br/>
	
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="postJob()">Submit</button>
      </div>
    </div>
	
  </fieldset>
</div>