<div class="row">

    <div class="col-md-4 col-sm-4" ng-repeat-start="mark in marks">

        <article class="blog-teaser">
            <a href="/jobs/{{mark.job._id}}/#top">
                <header>

                    <h3>{{mark.job.service | uppercase}}</h3>
                    <span class="meta">₹{{mark.job.price_min}} - ₹{{mark.job.price_max}}<br> {{mark.job.city | uppercase}}</span>
                    <hr>
                </header>
            </a>

            <div class="body" style="text-align:center">

                <b>No. of person: </b>{{mark.job.person}}<br>
                <b><i class="fa fa-calendar"></i> </b> &nbsp{{timeInWords(mark.job.begin)}}<br>
                <hr>

                <div class="col-md-8 col-sm-8" align ="left">
                    <a href="/user/{{mark.job.user._id}}/jobs/#top">
                        <img src="{{mark.job.user.profile_pic}}" width=25" style="-webkit-border-radius: 20px;"/></a>
                    &nbsp  &nbsp <span ng-if ="mark.job.user._id == currentUser._id" class="dropdown active dropdown-toggle">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           href="#">
                            <i class="fa fa-bars"  aria-hidden="true"></i>

                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="">Edit</a></li>
                            <li><a ng-click="delJob(mark.job._id, $index)" href="">Delete</a></li>
                        </ul>
                    </span>
                </div>
                <div class="col-md-4 col-sm-4" align ="right">

                    <a href =""><i ng-click="postLike(mark.job._id); likeUnmark = !likeUnmark" ng-class="likeUnmark ? 'fa fa-star-o' : 'fa fa-star'" aria-hidden="true"></i></a>


                </div>
                <br>

            </div>

            <div class="clearfix">
            </div>
        </article>


    </div>
    <div ng-repeat-end>
        <div class="clear clearfix" ng-if="$index % 3 == 2">&nbsp;</div>
    </div>
</div>
